In [2]:
professor = "min seop kim"
print(professor)
a=7
b=5
print(a+b)
print('a+b')

min seop kim
12
a+b

In [1]:
a=1
b=1
print(a,b)

1 1

In [3]:
a=1.5
b=3.5
print(a,b)

1.5 3.5

In [4]:
a="ABC"
b="101010"
print(a,b)

ABC 101010

In [5]:
a=True
b=False
print(a,b)

True False

In [7]:
25+30
30-12

18

In [8]:
a=1
a=a+1
print(a)

2

In [9]:
a += 1
print(a)

3

In [10]:
a -= 1
print(a)

2

In [13]:
#자료형 변환
a=10
print(a)
a=float(10)
print(a)

10
10.0

In [16]:
a=10
b=3
print(a/b)

1

In [17]:
a=int(10.7)
b=int(10.3)
print(a+b)

20

In [20]:
a='76.3'
b=float(a)
print(a) #문자형
print(b) #실수형 
print(a+b)

76.3
76.3

TypeError: can only concatenate str (not "float") to str

In [22]:
a='76.3'
b=float(a)
print(a) #문자형
print(b) #실수형
a=float(a)
b=a 
print(a+b)

76.3
76.3
152.6

In [23]:
a='76.3'
b=float(a)
print(a) #문자형
print(b) #실수형
a=str(a)
b=str(b) 
print(a+b)

76.3
76.3
76.376.3

In [25]:
a=int(10.3)
b=float(10.3)
c=str(10.3)
type(a)
type(b)
type(c)
print(a+b)

20.3

In [26]:
#섭씨온도를 입력받고 화씨온도로 변환
celcius=float(input("섭씨온도를 입력하세요"))
fahrenheit=((9/5)*celcius)+32
print("섭씨온도 :",celcius, "화씨온도 :" , fahrenheit )

섭씨온도 : 11.0 화씨온도 : 51.8

In [28]:
x=5+4*3-2/2
print(x)

16.0