In [1]:
print("Enter your name :")
somebody= input()
print("Hi", somebody, "How are you today?")

Enter your name :
Hi 김민섭 How are you today?

In [3]:
temperature=float(input("온도를 입력하세요"))
print(temperature)

18.0

In [ ]:
print("본 프로그램은 섭씨온도를 화씨온도로 전환하는 프로그램입니다.")
print("변환하고 싶은 섭씨온도를 입력하세요")

celcius=input()
fahrenheit= (float(celcius)*1.8) +32

print("섭씨온도 : ", celcius)
print("화씨온도 : ", fahrenheit)

본 프로그램은 섭씨온도를 화씨온도로 전환하는 프로그램입니다.
변환하고 싶은 섭씨온도를 입력하세요
섭씨온도 :  18
화씨온도 :  64.4

In [8]:
colors=['red', 'blue', 'orange']
print(colors[0])
print(colors[1])
print(colors[2])
print(len(colors))

red
blue
orange
3

In [9]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '광주']

In [ ]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[0:5]

['서울', '부산', '인천', '대구', '대전']

In [11]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[5:]

['광주', '울산', '수원']

In [15]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[-8:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [17]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[:]
cities[-50:50]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
cities=['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[::2])    #2칸 단위로
print(cities[::-1])   #역슬라이싱

['부산', '대구', '광주', '수원']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [24]:
color1=['red', 'blue', 'green']
color2=['orange', 'black', 'white']
print(color1+color2)
len(color1)
total_color= color1 + color2
print(total_color)

['red', 'blue', 'green', 'orange', 'black', 'white']
['red', 'blue', 'green', 'orange', 'black', 'white']

In [ ]:
color1=['red', 'blue', 'green']
color1 *2

['red', 'blue', 'green', 'red', 'blue', 'green']

In [26]:
color2=['orange', 'black', 'white']
'blue' in color2

False

In [ ]:
color=['red', 'blue', 'green']
color.append("white")  
print(color)

['red', 'blue', 'green', 'white']

In [29]:
color=['red', 'blue', 'green']
color.extend(['black', 'purple'])
color

['red', 'blue', 'green', 'black', 'purple']

In [32]:
color=['red', 'blue', 'green']

color.insert(0, 'orange')
print(color)
color.remove('red')
color

['orange', 'red', 'blue', 'green']

['orange', 'blue', 'green']

In [34]:
color=['red', 'blue', 'green']
color[0]='orange'
print(color)
del color[0]
color

['orange', 'blue', 'green']

['blue', 'green']

In [35]:
t=[1,2,3]
a,b,c=t
print(t,a,b,c)

[1, 2, 3] 1 2 3

In [36]:
kor_score=[49, 79, 20, 100, 80]
math_score=[43, 59, 85, 30, 90]
eng_score=[49, 79, 48, 60, 100]
midterm_score=[kor_score, math_score, eng_score]
midterm_score

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [ ]:
kor_score=[49, 79, 20, 100, 80]
math_score=[43, 59, 85, 30, 90]
eng_score=[49, 79, 48, 60, 100]
midterm_score=[kor_score, math_score, eng_score]
print(midterm_score)
print(midterm_score[0][2])

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
20

In [38]:
kor_score=[49, 79, 20, 100, 80]
math_score=[43, 59, 85, 30, 90]
eng_score=[49, 79, 48, 60, 100]
midterm_score=[kor_score, math_score, eng_score]
print(midterm_score)

math_score[0]=1000
midterm_score

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

[[49, 79, 20, 100, 80], [1000, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [39]:
a=["color", 1, 0.2]
color=["yellow", 'blue', 'green', 'black', 'purple']
a[0]=color
print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

In [41]:
a=[1,2,3,4,5]
b=[5,4,3,2,1]
b=a
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a.sort()  #오름차순
print(b)

[1, 2, 3, 4, 5]

In [43]:
a=[1,2,3,4,5]
b=[5,4,3,2,1]
b=a
b=[6,7,8,9,10]
print(a,b)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

In [ ]:
fruit1=['orange', 'melon','strawberry']
fruit2=['watermelon', 'grape']
fruit2.remove('grape')
fruit1.append(fruit2)
print(fruit1)

['orange', 'melon', 'strawberry', ['watermelon']]

In [5]:
fruit1=['orange', 'melon','strawberry']
fruit2=['watermelon', 'grape']
fruit2.remove('grape')
fruit1.append(fruit2[0])
print(fruit1)

['orange', 'melon', 'strawberry', 'watermelon']